<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<style type="text/css">
	table { width: 500px; margin: auto; }
	table th { text-align: left; padding-top: 1em; padding-left: 30px; color: red;}
	table td { vertical-align: top; background-color: #f5f5f5; height: 2em; vertical-align: middle; border: 1px solid black; padding-left: 10px;}
	table td pre { float: left;}
	table td code { font-size: 1.2em; }
	table ul { list-style-type: circle;}
	table p { margin:0 5px; }
</style>

<%= title t('help.redcloth') %>
<h1 class="part"><%= yield :title %></h1>

<table width="100%">
	<tr><th colspan="2">Styles</th></tr>
	<tr><td>*Gras*</td><td width="50%"><strong>Gras</strong></td></tr>
	<tr><td>_Italique_</td><td><em>Italique</em></td></tr>
	<tr><td>+Souligné+</td><td><ins>Souligné</ins></td></tr>
	<tr><td>-Barré-</td><td><del>Barré</del></td></tr>
	<tr><td>??Citation??</td><td><cite>Citation</cite></td></tr>
	<tr><td>@Code en ligne@</td><td><code>Code en ligne</code></td></tr>
	<tr><td>&lt;pre><br />&nbsp;lignes<br />&nbsp;de code<br />&lt;/pre></td><td><pre>
lignes
de code
</pre></td></tr>

	<tr><th colspan="2">Alignement</th></tr>
	<tr><td>p&lt;. à gauche</td><td><p style="text-align:left;">à gauche</p></td></tr>
	<tr><td>p&gt;. à droite</td><td><p style="text-align:right;">à droite</p></td></tr>
	<tr><td>p=. centré</td><td><p style="text-align:center;">centré</p></td></tr>
	<tr><td>p&lt;&gt;. ici un morceau de texte qui doit être justifié, c'est à dire que le texte est "collé" à la marge de droite</td><td><p style="text-align:justify;">ici un morceau de texte qui doit être justifié, c'est à dire que le texte est "collé" à la marge de droite</p></td></tr>

	<tr><th colspan="2">Listes</th></tr>
	<tr><td>* Item 1<br />* Item 2</td><td><ul><li>Item 1</li><li>Item 2</li></ul></td></tr>
	<tr><td># Item 1<br /># Item 2</td><td><ol><li>Item 1</li><li>Item 2</li></ol></td></tr>

	<tr><th colspan="2">Titres</th></tr>
	<tr><td>h1. Titre 1</td><td><h1>Titre 1</h1></td></tr>
	<tr><td>h2. Titre 2</td><td><h2>Titre 2</h2></td></tr>
	<tr><td>h3. Titre 3</td><td><h3>Titre 3</h3></td></tr>

	<tr><th colspan="2">Liens</th></tr>
	<tr><td>http://infopiiaf.fr</td><td><a href="#">http://infopiiaf.fr</a></td></tr>
	<tr><td>"infoPiiaf":http://infopiiaf.fr</td><td><a href="#">infoPiiaf</a></td></tr>
	<tr><td>"(externe)infoPiiaf":http://infopiiaf.fr</td><td><a href="#" class="popup">infoPiiaf</a> : ouvre dans une nouvelle fenêtre</td></tr>
</table>
