<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title "Identification" %>
<div id="signIn">
<h1><%= yield :title %></h1>

<%= form_tag sessions_path, :id => "sign_in" do %>
	<p>
		<%= label_tag :login, 'Identifiant *' %>
		<%= text_field_tag :login, nil, :class => "small_string", :autofocus => "autofocus" %>
	</p>
	<p>
		<%= label_tag :password, 'Mot de passe *' %>
		<%= password_field_tag :password, nil, :class => "small_string" %>
	</p>
	<p>
		<%= submit_tag "S'identifier" %>
	</p>
<% end %>
</div>
