<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% if admin? %>
<aside class="card-block" id="internal-stuff">
  <h1>Informations internes. <small>Visibles par les administrateurs uniquement.</small></h1>
  <h2>Date d'enregistrement</h2>
  <p><%= l @member.registry_date if @member.registry_date.present? %></p>
  <h2>Fait partie des groupes</h2>
  <ul id="groups">
    <% @member.member_groups.each do |mg| %>
    <li><%= mg.title %></li>
    <%- end %>
  </ul>
  <h2>Administrateur</h2>
  <p><%= @member.admin_label %></p>
  <h2>Bloqué</h2>
  <p><%= @member.blocked_label %></p>
  <h2>Publié</h2>
  <p><%= @member.published_label %></p>
</aside>
<%- end %>
