<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<%- if can_manage_performances?(@member) %>
<aside class="card-block" id="performances">
  <h1>Séances. <small>Non visibles par un simple visiteur.</small></h1>
  <p class="AdminCard-globalActions">
    <%= custom_add_link "Nouvelle séance", new_member_performance_path(@member) %>
  </p>
  <%- if @enabled_performances.present? %>
    <h2><%= toggle_link "Séances actives", '#enabled' %></h2>
    <ul id="enabled">
      <% @enabled_performances.each do |perf| %>
      <li>
        <span class="no_print">
          <%= custom_edit_link edit_member_performance_path(@member, perf), :short, class: %w(tight) %>
          <%= custom_disable_link toggle_member_performance_path(@member, perf), :short, class: %w(tight) %>
          <%= custom_delete_link member_performance_path(@member, perf), :short, class: %w(tight) %>
        </span>
        <%= perf.full_title %>
      </li>
      <% end %>
    </ul>
  <%- end %>
  <%- if @disabled_performances.present? %>
    <h2><%= toggle_link "Séances inactives", '#disabled' %></h2>
    <ul id="disabled" style="display:none">
      <% @disabled_performances.each do |perf| %>
      <li>
        <span class="no_print">
          <%= custom_edit_link edit_member_performance_path(@member, perf), :short, class: %w(tight) %>
          <%= custom_enable_link toggle_member_performance_path(@member, perf), :short, class: %w(tight) %>
          <%= custom_delete_link member_performance_path(@member, perf), :short, class: %w(tight) %>
        </span>
        <%= perf.full_title %>
      </li>
      <% end %>
    </ul>
  <%- end %>
</aside>
<%- end %>
