<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<%- if can_manage_subscriptions?(@member) || can_see_subscriptions?(@member) %>
<aside class="card-block" id="subscriptions">
  <h1>Adhésions. <small>Non visibles par un simple visiteur.</small></h1>
  <%- if can_manage_subscriptions?(@member) %>
  <p class="AdminCard-globalActions">
    <%= custom_add_link "Nouvelle adhésion", new_member_subscription_path(@member) %>
  </p>
  <%- else %>
  <p>
    Merci de remplir votre numéro d'affiliation pour créer des adhésions.
    <%= custom_edit_link edit_member_path(@member), :short, class: %w(tight) %>
  </p>
  <%- end %>
  <h2>
    Nos adhérents
  </h2>
  <div id="internal">
    <%- @seasoned_internal_subscriptions.each do |season, subscriptions| %>
      <% season_label = season.downcase.gsub(/\s/, '_') + "_int" %>
      <%= toggle_link "#{ season } #{Statistics::Pass::Unit.new(@member, Season.from_label(season)).label}", "##{season_label}"  %>
      <%=  %>
      <ul id="<%= season_label %>" style="display:none;">
        <% subscriptions.each do |subscription| %>
          <li class="subscription">
            <%= custom_print_card_link card_member_subscription_path(@member, subscription, format: :pdf), :short, class: %w(tight) %>
            <%= custom_redo_link renew_member_subscription_path(@member, subscription), :short, class: %w(tight) %>
          <%- if admin? %>
            <%= custom_edit_link edit_member_subscription_path(@member, subscription), :short, class: %w(tight) %>
            <%= custom_delete_link member_subscription_path(@member, subscription), :short, class: %w(tight) %>
          <%- end %>
            <%= internal_subscription_label(subscription) %>
          </li>
        <%- end %>
      </ul>
    <%- end if @internal_subscriptions %>
  </div>
  <%- unless @member.collaborating_medicosocial_org? %>
    <h2>Adhérents extérieurs</h2>
    <div id="external">
      <%- @seasoned_external_subscriptions.each do |season, subscriptions| %>
        <% season_label = season.downcase.gsub(/\s/, '_') + "_ext" %>
        <%= toggle_link "#{ season } (#{ subscriptions.length })", "##{season_label}"  %>
        <ul id="<%= season_label %>" style="display:none;">
          <% subscriptions.each do |subscription| %>
            <li class="subscription">
              <%= external_subscription_label(subscription, @member) %>
            </li>
          <%- end %>
        </ul>
      <%- end if @external_subscriptions %>
    </div>
  <%- end %>
</aside>
<%- end %>
