<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title textilize_without_paragraph(@title) %>

<div class="card-block">
  <h1><%= yield :title %></h1>

	<% if admin? %>
	<p class="AdminCard-globalActions">
		<%= custom_add_link 'Nouvelle info club', new_club_novel_path %>
	</p>
	<% end -%>
</div>

<section id="club_novels">
  <% if admin? && !@unpublished_club_novels.empty? %>
    <ul id="unpublished">
      <%= render partial: 'club_novel', collection: @unpublished_club_novels %>
    </ul>

    <%= will_paginate @unpublished_club_novels %>
  <% end %>

  <% unless @published_club_novels.empty? %>
    <ul id="published">
      <%= render partial: 'club_novel', collection: @published_club_novels %>
    </ul>

    <%= will_paginate @published_club_novels %>
  <% end %>
</section>
