<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
Bonjour,

Par ce mail, nous vous informons que le sportif suivant :
- Prénom Nom : <%= @subscription.adherent.name %>
- Club d'origine : <%= @subscription.member.name %>
- Date de naissance : <%= l @subscription.adherent.born_on %>
- N° licence FFSA : <%= @subscription.adherent.permit_number %>

ne participera plus à votre (vos) séance(s) suivante(s) :
<% @performances.each do |performance| %>
- <%= performance.full_title %>
<% end %>

Nous vous remercions de ne plus noter sa présence à cette (ces) séance(s) sportive(s).
