<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title "Edition des paramètres" %>

<div class="card-block AdminCard">
  <h1><%= yield :title %></h1>

  <p><%= redcloth_help %></p>

  <%= simple_nested_form_for @settings, method: :patch, url: settings_path, as: :settings, id: :edit_settings do |f| %>
  <div class="accordion" data-accordion-active="false">
  	<h3>Général</h3>
  	<div id="general">
  		<%= f.input :title %>
  		<%= f.input :motto %>
  		<%= f.input :home_message %>
		<%= f.input :season_birthdate, default: Season.default_birthdate, discard_year: true %>
  		<% if @settings.site_logo.file? %>
  			<%= image_tag @settings.site_logo.url(:standard) %>
  			<div>
  				<%= f.label :_destroy_site_logo, "Supprimer le logo du site" %>
  				<%= f.check_box :_destroy_site_logo %>
  			</div>
  		<% else %>
  			<%= f.input :site_logo %>
  		<% end %>
  		<% if @settings.motto_logo.file? %>
  			<%= image_tag @settings.motto_logo.url(:standard) %>
  			<div>
  				<%= f.label :_destroy_motto_logo, "Supprimer le logo du slogan" %>
  				<%= f.check_box :_destroy_motto_logo %>
  			</div>
  		<% else %>
  			<%= f.input :motto_logo %>
  		<% end %>
  	</div>
    <h3>Apparence</h3>
  	<div id="design">
  		<%= f.input :main_color, input_html: {type: "color"} %>
  		<%= f.input :secondary_color, input_html: {type: "color"} %>
  		<%= f.input :h1_color, input_html: {type: "color"} %>
  		<%= f.input :h2_color, input_html: {type: "color"} %>
  	</div>
    <h3>Nous contacter</h3>
  	<div id="contact-us">
  		<%= f.input :contact_email %>
  		<%= f.input :contact_message %>
  	</div>
    <h3>Où pratiquer</h3>
  	<div id="map">
  		<%= f.association :map_member_groups, as: :check_boxes %>
  	</div>
    <h3>Newsletters</h3>
  	<div id="newsletters">
  		<%= f.input :newsletters_title %>
  		<%= f.association :partners, collection: @partners, as: :check_boxes %>
  	</div>
    <h3>Google Agenda</h3>
  	<div id="ga">
  		<%= f.input :gcal_user %>
  		<p>
  			<%= gcal_service_status %>
  		</p>
  	</div>
    <h3>Plateforme</h3>
    <div id="platform">
      <h4>Tarifs</h4>
      <div id="mono-activity">
        <h5>Mono-activité</h5>
        <%= f.input :mono_activity_collaborating_price, input_html: {step: '0.01'} %>
        <%= f.input :mono_activity_standard_price, input_html: {step: '0.01'} %>
      </div>
      <div id="multi-activities">
        <h5>Mutli-activités</h5>
        <%= f.input :multi_activities_collaborating_price, input_html: {step: '0.01'} %>
        <%= f.input :multi_activities_standard_price, input_html: {step: '0.01'} %>
      </div>
      <h4>Acteurs</h4>
      <%= f.association :platform_collaborating_clubs, as: :check_boxes %>
      <%= f.association :platform_medicosocial_orgs, as: :check_boxes %>
      <%= f.association :platform_collaborating_medicosocial_orgs, as: :check_boxes %>
    </div>
  </div>
  <p><%= f.button :submit %></p>
  <% end %>
</div>
