<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title "Accueil" %>

<section id="home_message">
	<%= textilize raw settings.home_message %>
</section>

<% unless @novels.empty? %>
<section id="home_news">
	<hgroup>
		<h1>Dernières informations. <small>Rien de neuf depuis le <%= l @novels.first.updated_at.to_date %>.</small></h1>
		<%= link_to "Flux RSS", feed_novels_path(:atom), class: "rss" %>
	</hgroup>
	<ul id="news">
		<% @novels.each do |novel| %>
		<li>
			<%= render 'novel_show', :novel => novel %>
		</li>
		<% end %>
	</ul>

	<%= will_paginate @novels %>
</section>
<% end %>
