/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

@import "compass";
@import "compass/reset";
@import "application/pie";
@import "susyone";
@import "font-awesome";

$base-font-size : 1em;
$base-line-height: 1.4;

/* Mobile-first settings */
$total-columns  : 8;
$column-width   : 7em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width;


/* Multiple responsive width */
$medium-columns: 6;
$large-columns : 8;
$container-width : container-outer-width($large-columns);

$oligaa-blue: #003F7E;
$oligaa-red: #F32D40;
$oligaa-yellow: #fba500;
$oligaa-green: mediumseagreen;

$white: white;
$brown: brown;
$grey: scale-saturation(scale-lightness($oligaa-blue, 25), -75);
$dark-grey: scale-saturation($oligaa-blue, -75);

// Fonts
@function dryer-font-files($font-name) {
	@return font-files($font-name+".woff", $font-name+".ttf", $font-name+".svg");
}

@include font-face("Open Sans", dryer-font-files("OpenSans-Regular"), "OpenSans-Regular.eot");
@include font-face("Open Sans", dryer-font-files("OpenSans-Light"), "OpenSans-Light.eot", 300);
@include font-face("Open Sans", dryer-font-files("OpenSans-Italic"), "OpenSans-Italic.eot", normal, italic);
@include font-face("Open Sans", dryer-font-files("OpenSans-LightItalic"), "OpenSans-LightItalic.eot", 300, italic);
@include font-face("Open Sans", dryer-font-files("OpenSans-Bold"), "OpenSans-Bold.eot", bold);
@include font-face("Open Sans", dryer-font-files("OpenSans-BoldItalic"), "OpenSans-BoldItalic.eot", bold, italic);
@include font-face("Open Sans", dryer-font-files("OpenSans-SemiBold"), "OpenSans-SemiBold.eot", 600);
@include font-face("Open Sans", dryer-font-files("OpenSans-SemiBoldItalic"), "OpenSans-SemiBoldItalic.eot", 600, italic);

@mixin font-awesome($code) {
	font-family: FontAwesome;
	content: $code;
}

// Layout
@mixin omegable() {
	&.omega {
		@include omega;
	}
}
