/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

#activities_filter {
	width: 450px;
}

.activity_categories {
	list-style-type:none;
	margin: 0;
}

.poster_right {
	display: block;
	float: right;
	margin-left: 5px;
}

.activity_desc {
	@extend .card-block;

	@include at-breakpoint($medium-columns) {
		@include span-columns(4, 8);
		height: 260px;

		&.omega {
			@include omega;
		}
	}

	h2 {
		padding-left: 0;
		text-align:center;
	}

	img {
		@include span-columns(2, 8);
	}

	div.text {
		@include span-columns(6 omega, 8);
	}
}

.event_activities {
	padding: 0;
	margin: 1em 0;
}

.event_activity {
	margin-left: 0;
}
