/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

/*
*= require jquery-ui/tabs
*= require jquery-ui/accordion
*= require jquery-ui/datepicker
*= require jquery-ui/slider
*= require jquery-ui/dialog
*= require jquery-ui-timepicker-addon
*= require jquery.switchButton
*= require prettyphoto-rails
*= require fullcalendar
*= require jquery.minicolors
*= require leaflet
*= require_self
*/

@charset "UTF-8";

@import "config";
@import "application/base";
@import "application/layout";
@import "application/flash";
@import "application/quick_access";
@import "application/misc";
@import "application/breadcrumbs";
@import "application/forms";
@import "application/links";
@import "application/attachments";

@import "header";
@import "admin_nav";
@import "nav";
@import "news";
@import "footer";
@import "calendar";
@import "contact_us";
@import "sign_in";
@import 'newsletters';
@import "members";
@import "member_groups";
@import "contacts";
@import "activities";
@import "emails";
@import "partners";
@import "events";
@import "platform";
@import "club_novels";

.danger {
  color: $oligaa-red;
}

.warning {
  color: $oligaa-yellow;
}

.primary {
  color: $oligaa-blue;
}

.success {
  color: $oligaa-green;
}
