/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

#page #columns #content section#club_novels {

	ul {

		list-style-type: none;
		margin: 0;
		padding: 0;

		li.club_novel {
			@extend .card-block-narrow;
			@include clearfix;

			div.description {
				@include span-columns(5,6);
				text-align: justify;

				h2 {
					font-size: 110%;
				}

				h3 {
					color: $oligaa-yellow;
				}

				div.attached_files {
				}

				&.pushed {
					@include push(1);
				}
			}

			div.aside {
				@include span-columns(1 omega,6);

				ul.gallery {
					list-style-type: none;
					margin: 0;
					padding: 0;
					li {
						display: none;
						&:first-of-type {
							display: block;
						}

						img {
							width: 100%;
						}
					}
				}
				span.images-number {
					text-align: center;
				}

				ul.activities {
					list-style-type: none;
					margin: 0;
					padding: 0;

					img {
						width: 50%;
						display: block;
						margin: auto;
					}
				}
			}
		}
	}

	ul#unpublished > li {
		background: rgba(100%, 0, 0, 0.1);
	}

	div.pagination {
		padding: 1em 0;
		text-align: center;
	}
}
