/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

body #page header {
	@include clearfix();
	color: $white;
	margin: gutter() 0;
	padding: 0;

	h1 {
		@include span-columns(6, 8);
		margin: 0;
		padding: 0;
		text-align: left;

		@include at-breakpoint($medium-columns) {
			@include span-columns(3, 8);
			margin: 0.5em 0 0 0;
		}

		img {
			max-height: 100%;
			max-width: 100%;
		}
	}

	h2 {
		display: none;
		@include at-breakpoint($medium-columns) {
			@include span-columns(4 omega, 8);
			display:block;
			span.motto {
				color: $white;
				display: block;
				margin: 1em 0 0 0;
				text-transform: none;
				text-align: center;
			}
			img.motto_logo {
				@include span-columns(2 omega, 8);
				display: block;
				float: right;
				margin-top: 0;
			}
		}
	}
}
