/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

#public-stuff {
	@include clearfix;

	section {
		@include at-breakpoint($medium-columns) {
			@include span-columns(4, 8);
			@include omegable;
		}
	}

	#offer {
		@include clearfix;
		margin-bottom: 2em;
	}
}

form#search_contacts_form {
	p {
		padding-right: 0;
		margin-right: 0;
	}
}

div#internal, div#external, div#subscriptions-by-club, div#subscriptions-by-org {
	padding: 0 1em;

	a.expendable {
		display: block;
	}

	ul {
		padding: 0.5em 0;

		li.subscription {
			span {
				padding: 0 0.5em;
				&.billed { @include button-color($oligaa-green); }
				&.not-billed { @include button-color; }
				&.platform-number { font: caption;}
				&.activities {
					display: none;
				}
			}
			i.fa-info-circle:hover + span.activities { display: block;}
		}
	}
}
