/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

/* Form */
div.edit_newsletter_item {
	@extend .attachment-edition;
	div.item_photo {
		display: inline-block;
		text-align: center;
		margin: 10px;
		img {
			display: block;
		}
	}
	p.newsletter_items_photo {
		display: inline-block;
		vertical-align: top;
	}
}

/* Listing */
ul#newsletters_listing {
	list-style-type: none;
	> li {
		margin-left: 1em;

		> ul {
			margin-left: 1em;
			list-style-type: none;

			> li {
				&:before {
					@include font-awesome('\f0da');
					padding-right: 1em;
				}
			}
		}
	}
}

#page #columns #content div#newsletter {

	hgroup {
		@extend .card-block-narrow;
		h1 {
			margin: 0;
			color: $oligaa-blue;
			font-size: 120%;
		}
	}

	span#reference {
		display: none;
	}

	ul#newsletter_items {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li.newsletter_item {
			@extend .card-block-narrow;
			@include clearfix;

			div.item_desc {
				@include span-columns(5,6);
				text-align: justify;

				h2 {
					font-size: 110%;
				}

				h3 {
					color: $oligaa-yellow;
				}

				div.attached_files {
				}

				&.pushed {
					@include push(1);
				}
			}

			div.item_aside {
				@include span-columns(1 omega,6);

				ul.gallery {
					list-style-type: none;
					margin: 0;
					padding: 0;
					li {
						display: none;
						&:first-of-type {
							display: block;
						}

						img {
							width: 100%;
						}
					}
				}
				span.images-number {
					text-align: center;
				}

				ul.activities {
					list-style-type: none;
					margin: 0;
					padding: 0;

					img {
						width: 50%;
						display: block;
						margin: auto;
					}
				}
			}
		}
	}

	div#partners {
		@extend .card-block-narrow;
		@include clearfix;

	}
}
