<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% unless member_groups.empty? && contact_types.empty? %>
	<%= expand_fields (status == "used" ? "Destinataires déjà sélectionnés" : "Destinataires disponibles"), "##{status}_contacts", false %>
	<div id="<%= status %>_contacts">
		<%= expand_fields "Par groupe", "##{status}_member_groups" %>
		<ul id="<%= status %>_member_groups" style="display:none;">
			<% member_groups.each do |group, members| %>
				<%= render 'member_group', :member_group => group, :members => members, :status => status %>
			<% end %>
		</ul>
		<%= expand_fields "Par type de contact", "##{status}_contact_types" %>
		<ul id="<%= status %>_contact_types" style="display:none;">
			<% contact_types.each do |type, contacts| %>
				<%= render 'contact_type', :contact_type => type, :contacts => contacts, :status => status %>
			<% end %>
		</ul>
	</div>
<% end %>