<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title( "Email - " + @email.novel.title) %>

<article class="card-block">
  <h1><%= yield :title %></h1>

	<% if admin? %>
  <p class="AdminCard-globalActions">
		<%= custom_edit_link edit_email_path(@email), :short %>
		<%= custom_list_link emails_path %>
    <%= custom_mail_link send_off_email_path(@email), :normal, {method: :patch, data: {confirm: 'Etes-vous sûr de vouloir envoyer cet email ?'}} %>
	</p>
	<% end %>

	<p>
	  <span class="item">Expéditeur :</span>
		<%= @email.sender %>
	</p>
	<p>
	  <span class="item">Destinataires :</span>
		<%= @email.recipients %>
	</p>
	<p>
	  <span class="item">Autres destinataires :</span>
		<%= @email.other_recipients %>
	</p>

	<%= render 'novel', :email => @email %>
</article>
