/*
 * OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
 * des Associations" which is an online tool for associations to manage news,
 * actors and activities.
 * Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
 * 33) <contact@cdsa33.org>
 *
 * This file is part of OLIGAA.
 *
 * OLIGAA is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * OLIGAA is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
 */

.item {
	font-style: italic;
	color: $brown;
}

.parent_item {
	background: lightgrey;
	color: $brown;
}

.card-block {
	@include border-radius(3px);
	@include box-shadow(#000 0px 4px 12px);
	@include legacy-pie-clearfix;
	@include pie;
	background-color: $white;
	margin: 0 0 $gutter-width 0;
	padding: 0.5em 0;

	h1 small {
		font-size: 70%;
	}
}

.card-block-narrow {
	@extend .card-block;
	margin: 0 0 $gutter-width / 3;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0.8em 0 0.4em;
	padding: 0;
	text-align: left;
}

h1 {
	color: $oligaa-red;
	font-size: 180%;
	font-weight: 300;
	margin-top: 0.4em;
	text-align: center;
}

h2 {
	color: $oligaa-yellow;
	font-size: 115%;
	padding-left: 0.8em;
}

h3, h4, h5, h6 {
	color: $oligaa-blue;
	padding-left: 1em;
}

p {
	margin: 1em;padding: 0;

	&.condensed {
		margin-top: 0;
	}
}

ul, ol {
	list-style-position: inside;
	margin: 0 0 0 1em;
	padding: 0;
}

ul { list-style-type: circle; }
ol { list-style-type: decimal; }

dl {
	margin: 0 1em;

	dd {
		font-size: 85%;
		padding-left: 1em;
	}
}

img {
	border: 0 none;
	max-width: 100%;
}

strong { font-weight: bold;}
em { font-style: italic;}
cite {
	color: $dark-grey;
	&:before {
		content: open-quote;
		font-size: 150%;
	}
	&:after {
		content: close-quote;
		font-size: 150%;
	}
}

.small_string {width: 200px;}

span.highlight { background-color: $oligaa-yellow}

.text-right {
	text-align: right;
}

.left {
	float: left;
}

.right {
	float: right;
	margin-right: 50px;
}

.rounded_box {
	@include border-radius(3px);
	@include pie;
}

.last_update {
	border: 1px solid brown;
	text-align: center;
	color: brown;
}

.separation {
	clear: both;
	visibility: hidden;
	height: 0;
	margin: 0;
	padding: 0;
	border: none;
}

.mandatory {
	border: 1px solid $oligaa-red;
}

.shared:after {
	@include font-awesome('\f0ac');
	margin-left: 0.5em;
	color: $oligaa-blue;
}

.image_code {
	border: 1px solid darkgrey;
	padding: 1px 5px;
	@include border-radius(5px);
	@include pie;
}

.edit_logo {
	border: 1px dashed orange;
	margin-bottom: 10px;
	padding: 5px;
	@include border-radius(5px);
	@include pie;
}

#goToTop {
	text-align: right;

	a {
		color: $white;
		&:after, &:before {
			@include font-awesome('\f139');
			padding: 0 0.5em;
			font-size: 150%;
		}
		&:hover {
			text-decoration: none;
		}
	}
}

.print_to_pdf {
	margin: 1em;
	text-align: right;

	&:after {
		font-family: FontAwesome;
		content: '\f1c1';
		font-size: 150%;
		color: $oligaa-blue;
		padding-left: 0.5em;
	}
}

.ui-tabs {
	.ui-tabs-nav {
		@include clearfix;
		font-size: 85%;

		li a {
			padding: 0;
		}
	}
}
