<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<nav id="main-nav" role="navigation">
	<ul id="menus">
		<% Menu.sanitized.each do |menu| %>
			<% case menu.uid %>
			<% when "home" %>
				<%= menu_to menu.title, root_path, class: 'menu_item' %>
			<% when "calendar" %>
				<%= menu_to menu.title, calendar_path(year: Time.now.year, month: Time.now.month), class: 'menu_item' %>
			<% when "newsletters" %>
				<%- newsletters = Newsletter.for_nav %>
				<%- if newsletters.any? %>
				<li class="menu_item">
					<span class="menu_title"><%= textilize_without_paragraph(menu.title) %></span>
					<ul>
						<% newsletters.each do |newsletter| %>
						<%= menu_to newsletter.title, newsletter %>
						<% end %>
						<%= menu_to "Archives", newsletters_path %>
					</ul>
				</li>
				<%- end %>
			<% when "activity_categories" %>
				<li class="menu_item">
					<span class="menu_title"><%= textilize_without_paragraph(menu.title) %></span>
					<ul>
						<% ActivityCategory.all.each do |cat| %>
						<%= menu_to cat.title, activity_category_path(cat) %>
						<% end %>
					</ul>
				</li>
			<% when "member_groups" %>
				<% unless settings.map_member_groups.empty? %>
				<li class="menu_item">
					<span class="menu_title"><%= textilize_without_paragraph(menu.title) %></span>
					<ul>
						<% settings.map_member_groups.each do |group| %>
							<%= menu_to group.title, member_group_path(group) %>
						<% end %>
					</ul>
				</li>
				<% end %>
			<% when "club_novels" %>
				<%= menu_to menu.title, club_novels_path, class: 'menu_item' %>
			<% when "member_zone" %>
				<li class="menu_item">
					<span class="menu_title"><%= textilize_without_paragraph(menu.title) %></span>
					<ul>
						<% if logged_in? %>
						<%= menu_to "Ma fiche", current_member %>
						<%= menu_to "Se déconnecter", logout_path %>
						<% else %>
						<%= menu_to "Se connecter", login_path %>
						<% end -%>
					</ul>
				</li>
			<% else %>
				<% if menu.should_be_displayed? %>
					<li class="menu_item">
						<span class="menu_title"><%= textilize_without_paragraph(menu.title) %></span>
						<ul>
							<% menu.public_pages.each do |page| %>
							<%= menu_to page.title, page %>
							<% end %>
						</ul>
					</li>
				<% end %>
			<% end %>
		<% end %>
	</ul>
</nav>
