<%
# OLIGAA - Stands for "Outil en Ligne d'Information et de Gestion des Activités
# des Associations" which is an online tool for associations to manage news,
# actors and activities.
# Copyright (C) 2010-2019 Comité Départemental du Sport Adapté de la Gironde (CDSA
# 33) <contact@cdsa33.org>
#
# This file is part of OLIGAA.
#
# OLIGAA is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# OLIGAA is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with OLIGAA.  If not, see <http://www.gnu.org/licenses/>.
%>
<% title "Liste des membres" %>

<div class="card-block">
  <h1><%= yield :title %></h1>

  <div class="AdminCard-globalActions">
    <p>
      <%= form_tag search_contacts_members_path, id: "search_contacts_form" do %>
        <%= text_field_tag :contacts_search, nil, autofocus: "autofocus", class: "small_string" %>
        <%= submit_tag "Chercher dans les contacts" %>
      <% end %>
    </p>
    <p>
    	<%= custom_show_link contact_types_path, "Types de contact" %>
    	<%= custom_show_link public_types_path, "Types de public" %>
    </p>
    <p>
    	<%= custom_csv_export_link members_path(format: :csv) %>
    	<%= custom_link 'fa-map', 'Affichage carte', map_members_path, :normal %>
    </p>
  </div>

  <div class="tabs" <%= "data-expand=\"#{@path_to_expand}\"" if not @path_to_expand.nil? %>>

  	<ul>
  		<li><a href="#groups_management">Groupes et membres</a></li>
  		<li><a href="#admin_management">Administration</a></li>
  	</ul>

  	<div id="admin_management">
  		<ul class="AdminCard-list">
  			<li>
  				<h2><%= fetch_or_toggle_link "Administrateurs", '#admins' %></h2>
          <div style="display:none">
    				<ul id="admins">
    				</ul>
          </div>
  			</li>
  			<li>
  				<h2><%= fetch_or_toggle_link "Membres verrouillés", '#blocked' %></h2>
          <div style="display:none">
    				<ul id="blocked">
    				</ul>
          </div>
  			</li>
  		</ul>
  	</div>

    <div id="groups_management">
      <p class="AdminCard-globalActions">
        <%= custom_add_link 'Nouveau groupe de membres', new_member_group_path %>
        <%= custom_add_link 'Nouveau membre', new_member_path %>
      </p>

    	<ul class="AdminCard-list">
    		<%= render partial: 'member_group', collection: @member_groups %>
    		<li>
    			<h2><%= fetch_or_toggle_link "Membres sans groupe", '#ungrouped' %></h2>
          <div style="display:none">
      			<ul id="ungrouped">
      			</ul>
          </div>
    		</li>
    	</ul>
    </div>
  </div>
</div>
